.screenSaver {
  background: #000;
  overflow: hidden;
}

ul {
	padding-top: 4px;
	border: 0;
	border-bottom: 1px solid #ccc;

}

.controls {
	padding-top: 5px;
}

h3, .hints, .well {
	padding-left: 50px;
}

#hideAwayButton {
	padding-top: 2px;
	padding-left: 15px;
}
